amqp==5.3.1
annotated-types==0.7.0
anyio==4.10.0
asgiref==3.8.1
astroid==4.0.3
attrs==26.1.0
beautifulsoup4==4.14.3
behave==1.2.6
billiard==4.2.4
build==1.4.0
cattrs==25.3.0
celery==5.6.0
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
coverage==7.13.1
crispy-bootstrap5==2025.6
cron_descriptor==2.0.6
cryptography==44.0.0
cssselect==1.4.0
curl_cffi==0.14.0
defusedxml==0.7.1
dill==0.4.0
distlib==0.3.9
distro==1.9.0
dj-database-url==3.1.2
Django==4.2.27
django-browser-reload==1.21.0
django-celery-beat==2.8.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.5
django-filter==25.1
django-ratelimit==4.1.0
django-timezone-field==7.2.1
django_celery_results==2.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
djoser==2.3.1
dnspython==2.7.0
docopt==0.6.2
dotenv==0.9.9
et_xmlfile==2.0.0
exceptiongroup==1.3.1
execnet==2.1.2
fasteners==0.20
filelock==3.25.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_resources==6.5.2
iniconfig==2.3.0
isort==7.0.0
Jinja2==3.1.6
jiter==0.10.0
jsii==1.120.0
kollavarsham==2.5.4
kombu==5.6.1
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
mycdp==1.3.7
mysqlclient==2.2.6
nest-asyncio==1.6.0
oauthlib==3.2.2
openai==1.101.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.0
parameterized==0.9.0
parse==1.21.1
parse_type==0.6.6
pdbp==1.8.2
pillow==11.1.0
pip-tools==7.5.3
pipreqs==0.4.13
platformdirs==4.9.4
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
publication==0.0.3
py3dns==4.0.2
pycparser==2.22
pydantic==1.10.13
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.4
pylint-django==2.7.0
pylint-plugin-utils==0.9.0
PyMySQL==1.1.1
pynose==1.5.5
pyotp==2.9.0
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks==1.7.1
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.1
pytest-xdist==3.8.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
python3-openid==3.2.0
PyYAML==6.0.3
razorpay==2.0.0
redis==7.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.3.3
sbvirtualdisplay==1.4.0
selenium==4.41.0
seleniumbase==4.47.7
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
social-auth-app-django==5.4.3
social-auth-core==4.6.1
sortedcontainers==2.4.0
soupsieve==2.8.3
sqlparse==0.5.3
tabcompleter==1.4.0
tomlkit==0.13.3
tqdm==4.67.1
trio==0.33.0
trio-websocket==0.12.2
typeguard==2.13.3
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
validate-email-address==1
vine==5.1.0
virtualenv==20.28.0
wcwidth==0.2.14
websocket-client==1.9.0
websockets==16.0
wheel==0.46.3
whitenoise==6.11.0
wsproto==1.3.2
yarg==0.1.10
